<!DOCTYPE html>
<html>
<head>
	{% if person %}
		<title>Edit {{person.firstName}} {{person.lastName}}</title>
	{% else %}
		<title>Could Not Find Person</title>
	{% endif %}
</head>
<body>

	{% if message %}
		<h2>System Message: {{message}}	</h2>
	{% endif %}

	<form method="POST" action="{{edit_url}}">
		<fieldset>
			<legend>Edit {{person.firstName}} {{person.lastName}}</legend>
			<input type="hidden" name="key" value="person.key.urlsafe()">
			First Name:<br>
			<input type="text" name="firstname" value="{{person.firstName}}"><br>
			Last Name:<br>
			<input type="text" name="lastname" value="{{person.lastName}}"><br>
			Date of Birth:<br>
			<input type="date" name="dob" value="{{person.dob}}" max="9999-12-31"><br>
		</fieldset>
		<legend>
			<input type="submit" name="action" value="Edit">
		</legend>
		<legend>
			<input type="submit" name="action" value="Edit and Return to Main">
		</legend>
	</form>
</body>
</html>