<!DOCTYPE html>
<html>
<head>
	{% if photo %}
		<title>Edit {{photo.photoName}}</title>
	{% else %}
		<title>Could Not Find Photo</title>
	{% endif %}
</head>
<body>
	{% if img_url %}
	<img src="{{ img_url }}">
	{% endif %}
	<form method="POST" action="{{edit_url}}">
		<fieldset>
			<legend>Edit Photo</legend>
			<input type="hidden" name="key" value="photo.key.urlsafe()">
			{% for i in taggedpeople %}
			<label>{{i.name}}</label><input type="checkbox" name="people[]" value="i.key" {% if i.checked %}checked="{{i.checked}}"{% endif %} >
			{% endfor %}
		</fieldset>
	</form>
</body>
</html>